In [1]:
print("Hello")   #standard output

Hello

In [ ]:
name = "aws"
print(name)
a=90
b=70
print(a,b)   #printing multiple outputs

aws
90 70

In [ ]:
a=[1,2,3,4,5]
b=a  #we cant do a=b coz b needs to be defined
b.append(6)
#a=b.append(7)  #this reutns none as insertion is made to location if we assign this type
print(a)
print(a is b)

[1, 2, 3, 4, 5, 6]
True

In [8]:
#seperator keyword sep
a=10
b=30
print(a,b)   #by default sep is space " "
print(a,b,sep=",")  #here we are using sep="," to seperate values

10 30
10,30

In [10]:
#end seperator end=" "
a="Hello"
b="World"  
c="!!!!"
print(a,end=" ")  #here we are using end=" " to provide space b/w two print statement
print(b)
print(c) #by default \n new line as end for after print

Hello World
!!!!

In [11]:
# print without newline

for i in range(15):
    print(i,end="|")

0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|

In [ ]:
#standard input()

a=input("enter your name") #input() by default gives string as out
a           #gives what value is stored i.e stringresult->'1234'
print(a)     #gives output without type-->1234

1234

In [16]:
name=input("enter your name")
name

'vijay'

In [ ]:
a=input()
b=input()

print(a,b)    #provide value for a enter again for b
print(a+b)    #here since it reutns string out so it concats

123 345
123345

In [19]:
#so to avoid we do type casting
a=int(input(a))
b=int(input(b))

print(a,b)
print(a+b)

123 345
468

In [20]:
d=float(input("enter a float num"))
e=float(input("enter a float num"))
print(d,e)
print(d+e)

45.2 46.8
92.0

In [ ]:
#when we take multiple inputs in a single statement

a,b=input()  #here if give 12 it takes 1 as a and 2 as b if i give 3 digits throws error only 2 digits
print(a,b)   #even we cant give 1 2 "space between"

1 2

In [ ]:
#to overcome this we use split it searches for space in string and creates it as list
#by default it splits " " and only for string

a,b=input().split()  #a,b =10 20.split()
print(a,b)           #a,b =["10", "20"]
print(a+b)           #a="10" b="20"  #type string
print(int(a+b)+1)    #it wont work for a+b as we need to covert into int first

10 20
1020
1021

In [29]:
#so now i want to strings wherever i have ,

a="10,20,30,40"
print(a.split(","))

['10', '20', '30', '40']

In [35]:
#here im using map to onvert to int for multiple variables

a,b=map(int,input("enter numbers").split(","))
print(a,b)
b

10 20

20

In [ ]:
nums=list(map(int,input("enter numbers").split()))
print(nums)
#list(map_object)
#list() forces iteration
#It pulls values one by one from the map object
#Stores them in a list

[10, 30, 40, 50]

In [ ]:
nums=map(int,input("enter numbers").split())
print(nums)   #here i gave value as 10 20 30 here map is an iterator it gives adress so we need to use list to show multiple values
              #use map when u have multiples inputs(list(map)) or multiple variables

<map object at 0x0000025F5EE9EF00>

In [ ]:
#output formatting

name="vijay"
course="AWS"
age=25

print(f"my name is:{name} and doing course {course} and my age is {age}")
print("name:{} course:{}  age:{}".format(name,course,age))

my name is:vijay and doing course AWS and my age is 25
name:vijay course:AWS  age:25

In [54]:
data={
"name":"vijay",
"age":25,
"course":"AWS"   
}

print(data)
print(name,age)
print("name" in data)
print("vijay" in data.values())
print("25" in data.values())

{'name': 'vijay', 'age': 25, 'course': 'AWS'}
vijay 25
True
True
False