In [1]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [2]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [4]:
number=[1,2,3,4,5]
for num in number:
    if(num>2):
     print(num)

3
4
5

In [ ]:
# List 
["a", "b", "c"] 
[1, 2, 3, 4, 5]
["apple", "banana", "cherry"]
["a",1,True,3.5]
# Ordered 
# Allow duplicate 
# Mutuable ( Can Modify )
# Can store different data types

# Tuple
#Ordered
# Allow duplicate
# Immutable ( Cannot Modify )
# Can store different data types
("a", "b", "c")
(1, 2, 3, 4, 5)
("apple", "banana", "cherry")
("a",1,True,3.5)

#Set 
# Store unique items
# Unordered
# Mutable ( Can Modify )
# Can store different data types
{"a", "b", "c"}
{1, 2, 3, 4, 5}
{"apple", "banana", "cherry"}
{"a",1,True,3.5} 

# Dictionary
# Store data in key-value pairs
# Unordered
# Mutable ( Can Modify )
# Can store different data types
{"name": "Alice", "age": 25, "city": "New York"}
{"fruit": "apple", "color": "red", "price": 0.5}
{"a": 1, "b": 2, "c": 3}  

#String
name="Python"


# List= Data change,order matters 
# Tuple= Data cannot change, order matters
# Set= Unique values 
# Dictionary= Key-value pairs (Lablled data)
# String = Text processing

In [ ]:
a=[10,20,30]  #we can do this to list as it is mutuable-changable
a[0]=50
print(a)

[50, 20, 30]

In [ ]:
a=(10,20,30)  #here we get error as tuple is immutable not changeble
a[0]=60
print(a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a=(10,20,30)
#Python evaluates the right-hand side first, using the OLD value of a, and only then assigns the result to a.
a=(a[0],a[2],70) #both different memory once another a is assigned the first a values will be garabage collected
print(a)

(10, 30, 70)

In [8]:
numbers=[1,2,3,4,5,6]

print(numbers[4])

5

In [9]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [10]:
for ch in "python":
    print(ch)

p
y
t
h
o
n

In [15]:
students={
    "name":"vijay",
    "age":25,
    "gender":"male"
}
for key in students:
    print(key)

for value in students.values():
    print(value)

for key,value in students.items():
    print(key,value)

name
age
gender
vijay
25
male
name vijay
age 25
gender male

In [16]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [17]:
for i in range(1,11,1):
    if(i==8):
        break
    print(i)

1
2
3
4
5
6
7

In [18]:
count=0
for i in range(1,51):
    if(i%2==0):
        count+=1
print(count)

25

In [20]:
num1,num2=map(int,input("enter the start and end values").split())
for i in range(num1,num2+1):
    print(i)

1
2
3
4
5

In [23]:
number

[1, 2, 3, 4, 5]

In [24]:
range(5)

range(0, 5)

In [25]:
r=range(5)
print(r)

range(0, 5)

In [27]:
x=12
y=40
for i in range(1,31):
    if(i==x):
        print("number found")
        break
    print("number not found")

number not found
number not found
number not found
number not found
number not found
number not found
number not found
number not found
number not found
number not found
number not found
number found

In [29]:
for i in range(1,7):
    if i == 5:
        continue
    print(i)

1
2
3
4
6

1.Problem Statement 

Build a Login System 

1. User has Maximum 5 attepts to enter the correct password 
2. The Correct password is "RajCloud1234"
3. If the user enters an empty password, skip that attemp( Do not count it )
4. If the user enters correct password show success message and stop the loop 
5. If the user enters a erong password count the attempt 
6. If 3 wrong password happen, Block user and stop the loop

2. Loop through transection Id - from 1000 to 1100 
rules 
- Skip Ids divisible by 7 (correupted )
- A valid tracsection must be divisble by 9 and 5 
- Print the first valid transection id and stop

3. Problem 3 

PIN must 

- Be Exactly of 4 digit 
- Contain no repeted digits 

Rule 

- Loop trhough 5 attemps 
- Empty input - skip 
- Lenght !=4 - Invalid 
- Repeted no - Inavlid 
- Valid Pin - accept & stop 
- After 3 invalid - block

In [ ]:
# Build a Login System 

crct_password = "RajCloud1234"
count=0
for i in range(1,6):
    password = input("enter the password to login")
    if password == "":
        print("password cannot be empty please try again")
        continue
    elif password == crct_password:
        print("you have successfully logged in!!")
        break
    elif password != crct_password:
        print("please enter correct password")
        count+=1
        print(f"attempts left:{5-count}")
        if count == 5:
            print("max attempts reached you are blocked")
            break

password cannot be empty please try again
you have successfully logged in!!

In [40]:
# transaction program

for i in range(1000,1100):
    if(i%7 == 0):
        continue
    if i%9 == 0 and i%5 ==0:
        print(f"the first valid transaction is:{i}")
        break

the first valid transaction is:1035

In [ ]:
# pin program

for i in range(1,6):
    pin=input("enter the 4 digit pin")
    if input == "":
        continue
    if input.length()!=4:
        print("invalid")