In [1]:
a=10
b=20
print(a+b)

30

In [2]:
x="Hello"
y="World"
print(x+y)

HelloWorld

In [1]:
a=20
b=5
print(a-b)

15

In [2]:
a=7
b=4
print(a*b)

28

In [ ]:
a="Hello"  #if we perform multiplication on string it prints multiple times
print(a*3)

HelloHelloHello

In [ ]:
print(10/3)  #if we divide it gives quotient as result

3.3333333333333335

In [ ]:
print(10.0//3) #it is called floor division it returns closest number towards negative infinity

3.0

In [ ]:
print(10%3) #it returns remainder

1

In [ ]:
print(2**3) # ** denotes 2 power 3

8

In [9]:
print(38//3)
print(-38//3)

12
-13

In [11]:
a = 5
# dont work b = (a+=5)
a+=10
print(a)

15

In [13]:
a=[1,2,3]  #list
a+=[5,6]

print(a)
a

[1, 2, 3, 5, 6]

[1, 2, 3, 5, 6]

In [18]:
a=900
b=900
c=4
d=4
print(a==b)  #here it compares values
print(c==d)

True
True

In [ ]:
print(a is b)   #here it compares memory from 0 to 256 same memory
print(c is d)

False
True

In [35]:
a = [1,2]  #here and b are same but have different object memory
b = [1,2]   #is and is not are two identity operators
print(a==b)
print(a is b)
print(a is not b)

True
False
True

In [22]:
a=[1,2]
b=[4,5]

a=b
b=a
print(a)
print(b)

[4, 5]
[4, 5]

In [25]:
a=90
b=80
print(a==90 and b==80)
print(a>=50 and b>=50)
print(a>=90 and b>=85)

True
True
False

In [ ]:
print(0 or 10)
print(5 or 10) #returns first tuth value left to right

10
5

In [33]:
a=50
b=60
print(a!=30 or b!=60)
print(not True)  #T is caps
print(not a)
print(not 0)

True
False
False
True

In [ ]:
text = "I am a python developer" #in and not in are membership operator return true if satifies else false
print("am" in text)
print("not" in text)

True
False

In [38]:
word = "data-engineering"
num = [1,2,3,4,5]
if "-" in word:
    print("found")
if 3 in num:
    print("detected")

print(5 in num)

found
detected
True

In [39]:
users = ["user1", "user2", "user3","user4"]
username = "user5"
if username in users:
    print("enter")
else:
    print("dont enter")

dont enter

In [40]:
ids={1002,1003,1004,1005}

print(1005 in ids)

True

In [ ]:
student = {   # dictinary key value pair
    "name":"vijay",
    "age":25,
    "course":"aws"
}
print("name" in student)
print("age" in student)
print(25 in student.values())
print("aws" not in student.values())

True
True
True
False

In [43]:
s1 = "python"
s2 = "python"

print(s1==s2)
print(s1 is s2)

True
True

In [46]:
s1="py-thon"     #here if we give spaces or symols it creates new object
s2="py-thon"

print(s1==s2)
print(s1 is s2)

True
False

In [49]:
a=[1,2,3,4,5]    #here if we create a list it points to different object for each list creation if we assign then it uses same object
b=[1,2,3,4,5]

c=a

print(a is b)
print(a is c)
c.append(6)
print(a)

False
True
[1, 2, 3, 4, 5, 6]

In [ ]:
d1={                 #both keys nd  values should be same i.e a and 10
    "a":10
}
d2={
    "a":10
} 
print(d1==d2)
print(d1 is d2)

True
False